# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store

# IntelliJ / VS Code
.idea/
.vscode/
*.iml

# Flutter / Dart / Pycache
**/mobil_final/.dart_tool/
**/build/
build/
**/mobil_final/.pub-cache/
**/mobil_final/.pub/
**/backend/__pycache__/

# Secrets and environment configurations
.env
.env.local
**/backend/.env
**/backend/db.json
**/db.json
db.json

